@import url("/trix.css");
@import url("/madmin/actiontext.css");
@import url("/madmin/reset.css");
@import url("/madmin/base.css");
@import url("/madmin/sidebar.css");
@import url("/madmin/buttons.css");
@import url("/madmin/forms.css");
@import url("/madmin/tables.css");
@import url("/madmin/pagination.css");
