:root {
  --primary-color: rgb(37 99 235);
  --border-color: rgb(229 231 235);
  --background-color: rgb(249 250 251);
  --text-color: rgb(2 6 23);
  --light-text-color: rgb(71 85 105);
  --sidebar-width: 16rem;
}

body {
  color: var(--text-color);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto auto 1fr auto;
}

a {
  color: var(--primary-color);
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.alert {
  font-weight: 500;
  padding: 1rem;

  ul {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-left: 2rem;
  }

  svg {
    display: inline-block;
    height: 1rem;
    margin-right: 0.25rem;
    width: 1rem;
    vertical-align: text-bottom;
  }

  &.alert-danger {
    background-color: oklch(.936 .032 17.717);
    color: oklch(.444 .177 26.899);

    svg {
      color: oklch(.637 .237 25.331);
    }
  }

  &.alert-notice {
    background-color: oklch(.962 .044 156.743);
    color: oklch(.448 .119 151.328);

    svg {
      color: oklch(.723 .219 149.579);
    }
  }
}

.search {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 0.5rem;

  h1 {
    margin: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.metrics {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));


  .metric {
    border: 1px solid rgb(229 231 235);
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 1rem;
    flex: 1 1 0%;

    h4 {
      color: rgb(75 85 99);
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 2rem;
      font-weight: 600;
      margin: 0;
    }
  }
}

.scopes {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .md\:inline-block {
    display: inline-block;
  }

  .md\:hidden {
    display: none;
  }
}
