.btn {
  border-radius: 0.375rem;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;

  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: none !important;
  }

  &:disabled {
    opacity: 60%;
    cursor: not-allowed;
  }

  &.btn-primary {
    background-color: var(--primary-color);
    color: white;
  }

  &.btn-secondary {
    background-color: white;
    color: rgb(31 41 55);
    box-shadow: inset 0 0 0 1px rgb(156 163 175);

    &:hover {
      background-color: rgb(243 244 246);
    }

    &.active {
      background-color: rgb(243 244 246);
    }
  }

  &.btn-danger {
    background-color: white;
    color: rgb(239 68 68);
    box-shadow: inset 0 0 0 1px rgb(239 68 68);

    &:hover {
      background-color: rgb(243 244 246);
    }
  }
}
