.btn {
  border-radius: 0.375rem;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  &:hover {
    text-decoration: none !important;
  }

  &.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-color);

    &:hover {
      background-color: color-mix(in oklab, var(--primary-color) 95%, black);
    }

    &.active {
      background-color: color-mix(in oklab, var(--primary-color) 95%, black);
    }
  }

  &.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: inset 0 0 0 1px rgb(156 163 175);

    &:hover {
      background-color: color-mix(in oklab, var(--secondary-color) 95%, black);

    }

    &.active {
      background-color: color-mix(in oklab, var(--secondary-color) 95%, black);
    }
  }

  &.btn-danger {
    background-color: var(--background-color);
    color: rgb(239 68 68);
    box-shadow: inset 0 0 0 1px rgb(239 68 68);

    &:hover {
      background-color: color-mix(in oklab, var(--background-color) 95%, black);
    }

    &.active {
      background-color: color-mix(in oklab, var(--background-color) 95%, black);
    }
  }

  &.btn-ghost {
    background-color: transparent;
    color: var(--text-color);
  }
}
