.table-scroll {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  overflow-x: auto;
  position: relative;
  min-width: 0;
  width: 100%;
}

table {
  border-collapse: collapse;
  min-width: 100%;

  th {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    text-align: left;

    a {
      color: rgb(17 24 39);
      text-decoration: none;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
    }

    &.label {
      background-color: var(--background-color);
      border-right: 1px solid var(--border-color);
      width: 16rem;
    }
  }

  td {
    a {
      font-weight: 500;
    }
  }

  tr {
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      border-bottom: none;
    }
  }

  th, td {
    /* force scroll */
    min-width: 60px;
    white-space: nowrap;

    /* responsive padding */
    padding-top: clamp(0.5rem, 0.25rem + 1.25vw, 0.75rem);
    padding-bottom: clamp(0.5rem, 0.25rem + 1.25vw, 0.75rem);
    padding-left: clamp(0.5rem, 0.125rem + 1.875vw, 0.875rem);
    padding-right: clamp(0.5rem, 0.125rem + 1.875vw, 0.875rem);
  }
}
