<div class="block md:inline-block md:w-32 flex-shrink-0 text-gray-700">
  <%= render "madmin/shared/label", form: form, field: field %>
</div>
<div class="flex-1">
  <%= form.rich_text_area field.attribute_name, class: "form-input block" %>
</div>
