<%= form.label field.attribute_name, class: "block md:inline-block w-32 flex-shrink-0 text-gray-700" %>
<div class="flex-1">
  <%= form.rich_text_area field.attribute_name, class: "form-input block" %>
</div>
