<div class="block md:inline-block md:w-32 flex-shrink-0 text-gray-700">
  <%= render "madmin/shared/label", form: form, field: field %>
</div>
<%= form.text_field field.attribute_name, class: "form-input" %>
