<% pagy, records = field.paginated_value(record, params) %>
<% records.each do |object| %>
  <% associated_resource = Madmin.resource_for(object) %>
  <div><%= link_to associated_resource.display_name(object), associated_resource.show_path(object) %></div>
<% rescue Madmin::MissingResource => error %>
  <%= tag.div error, class: "error" %>
<% end %>

<div class="pagination">
  <%== pagy_nav pagy if pagy.pages > 1 %>
  <%== pagy_info pagy %>
</div>
