<h1><%= resource.model.name.pluralize %></h1>

<table>
  <thead>
    <tr>
      <% resource.attributes.each do |attribute| %>
        <td><%= attribute[:name].to_s.titleize %></td>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <% resource.attributes.each do |attribute| %>
          <% next if attribute[:field].nil? %>
          <% field = attribute[:field].new(record: record, attribute_name: attribute[:name], partial: "index") %>

          <td><%= render partial: field.to_partial_path, locals: { field: field } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>

