<%= nav_link_to "Dashboard", main_app.madmin_root_path, class: "nav__link", active_class: "nav__link--active" %>

<% Madmin.resources.each do |resource| %>
  <%= nav_link_to resource.friendly_name.pluralize, resource.index_path, class: "nav__link", starts_with: resource.index_path, active_class: "nav__link--active" %>
<% end %>

<div class="nav__footer">
  <%= link_to "View Madmin on GitHub", "https://github.com/excid3/madmin", target: :_blank %>
</div>
