<div class="error"><%= t("madmin.missing_resource.message", resource: resource_name) %></div>
<% if Rails.env.development? %>
<div><%= t("madmin.missing_resource.create_hint") %>
  <code>
    bin/rails generate madmin:resource <%= resource_name.split("Resource").first %>
  </code>
</div>
<% end %>
