<div class="nav">
    <div class="nav__header">
      <h1 class="nav__title">Madmin</h1>
      <% if main_app.respond_to?(:root_url) %>
        <%= link_to main_app.root_url, class: "nav__back-link", data: { turbo: false } do %>
          ← Back <span class="mobile-hidden">to App</span>
        <% end %>
      <% end %>

        <div class="nav__mobile-menu" data-controller="dropdown">
          <button data-action="click->dropdown#toggle touch->dropdown#toggle click@window->dropdown#hide touch@window#dropdown->hide" type="button" class="nav__link" id="main-menu" aria-haspopup="true">
            <span class="sr-only">Open main menu</span>
            <!-- Heroicon name: outline/menu -->
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
          <div class="nav__mobile-dropdown" data-dropdown-target="menu">
            <%= render "menu_resources" %>
          </div>
        </div>
    </div>

    <div class="nav__main">
      <%= render "menu_resources" %>
    </div>
</div>
