<%= content_for :title, "New #{resource.display_name(@record)}" %>

<header class="header">
  <h1>
    <%= link_to resource.friendly_name.pluralize, resource.index_path %>
    /
    <strong>Edit <%= link_to resource.display_name(@record), resource.show_path(@record) %></strong>
  </h1>
</header>

<%= render partial: "form", locals: { record: @record, resource: resource } %>
