<h1><%= link_to resource.friendly_name.pluralize, resource.index_path %> / Edit <%= resource.friendly_name %> #<%= @record.id %></h1>

<%= render partial: "form", locals: { record: @record, resource: resource } %>
